In [7]:
import pandas as pd
import numpy as np

In [56]:
def create_production_period(x):
    weeks = np.zeros(54)
    weeks[x['startA']:x['endA']] = 1
    weeks[x['startB']:x['endB']] = 1
    return pd.Series(weeks.astype(int))

In [108]:
index_col = ['Product', 'NUTS_3', 'Region']
df = pd.read_csv('CITRUS18.csv', sep=';', index_col=index_col)
df.head(2)

,,,NUTS_2,R_unit,Area_acres,Production_tn,trees_num,year,freq_index,startA,endA,startB,endB
Product,NUTS_3,Region,,,,,,,,,,,
LEMONS,EL514,"REGION OF ANATOLIKI MAKEDONIA, THRAKI",EL51,DRAMAS,0,0.0,0,2018,2,9,21,35,47
ORANGES,EL514,"REGION OF ANATOLIKI MAKEDONIA, THRAKI",EL51,DRAMAS,0,0.0,0,2018,2,9,21,35,47

In [109]:
df.shape[0]

222

In [110]:
df['Production_tn'].sum()

998809.841

In [127]:
# Filter out the non-producing
df = df[df['Production_tn'] > 0]
df.head(2)

,,,NUTS_2,R_unit,Area_acres,Production_tn,trees_num,year,freq_index,startA,endA,startB,endB
Product,NUTS_3,Region,,,,,,,,,,,
LEMONS,EL511,"REGION OF ANATOLIKI MAKEDONIA, THRAKI",EL51,EVROS,0,0.35,0,2018,2,9,21,35,47
MANDARINES,EL515,"REGION OF ANATOLIKI MAKEDONIA, THRAKI",EL51,KAVALAS,2,3.60,90,2018,2,9,21,35,47

In [128]:
weeks = df.apply(create_production_period, axis=1)
weeks

,,,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
Product,NUTS_3,Region,,,,,,,,,,,,,,,,,,,,,
LEMONS,EL511,"REGION OF ANATOLIKI MAKEDONIA, THRAKI",0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
MANDARINES,EL515,"REGION OF ANATOLIKI MAKEDONIA, THRAKI",0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
LEMONS,EL305,REGION OF ATTIKI,0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
ORANGES,EL305,REGION OF ATTIKI,0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
MANDARINES,EL305,REGION OF ATTIKI,0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ORANGES,EL644,REGION OF STEREA ELLADA,0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
MANDARINES,EL644,REGION OF STEREA ELLADA,0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
LEMONS,EL645,REGION OF STEREA ELLADA,0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
ORANGES,EL645,REGION OF STEREA ELLADA,0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
MANDARINES,EL645,REGION OF STEREA ELLADA,0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0

In [148]:
# Divide each row by the total production of that row
# weeks and df are aligned based on their index
num_producing_weeks = weeks.sum(axis=1)

share = df['Production_tn'].div(num_producing_weeks).fillna(0) 

weekly_prod = weeks.mul(share, axis=0)
weekly_prod.columns.name = 'week'
weekly_prod = weekly_prod.stack()
weekly_prod.name = 'Production_tn'
weekly_prod

Product     NUTS_3  Region                                 week
LEMONS      EL511   REGION OF ANATOLIKI MAKEDONIA, THRAKI  0       0.0
                                                           1       0.0
                                                           2       0.0
                                                           3       0.0
                                                           4       0.0
                                                                  ...
MANDARINES  EL645   REGION OF STEREA ELLADA                49      0.0
                                                           50      0.0
                                                           51      0.0
                                                           52      0.0
                                                           53      0.0
Name: Production_tn, Length: 8586, dtype: float64

In [159]:
weekly_prod.sum()

998809.8410000001

In [160]:
df['Production_tn'].sum()

998809.841